<div #root *ngIf="memes && memes.success">
  <!-- Optimal scrolling -->
  <div class="root_content">
    <div infiniteScroll #scroll>
      <div *ngFor="let x of memes.data.memes">
        <app-memes-component-display [Meme]="x"></app-memes-component-display>
      </div>
    </div>
    <div style="display: flex;flex-direction: column;margin-left: 24px;">
      <div class="root_cat" style="margin-top: 24px">
        <div style="display: flex;justify-content: center">
          <h2>You might also enjoy these cats!</h2>
        </div>
        <div style="display: flex;flex-direction: row;">
          <div style="display: flex;justify-content: center;flex-direction: column;padding: 5px">
            <button mat-mini-fab (click)="PrevCat()" (mouseover)="left.enableAnimation()" (mouseleave)="left.disableAnimation()">
              <app-materialicon360 #left [start]="'chevron_left'" [end]="'arrow_backward'"></app-materialicon360>
            </button>
          </div>
          <div *ngIf="cats" style="width: 250px;height: 250px;justify-content: center;display: flex">
            <img src="{{cats[Index].url}}" style="object-fit: contain;max-width: 100%;height: auto" alt="cat picture"/>
          </div>
          <div style="display: flex;justify-content: center;flex-direction: column;padding: 5px">
            <button mat-mini-fab (click)="NextCat()" (mouseover)="right.enableAnimation()" (mouseleave)="right.disableAnimation()">
              <app-materialicon360 #right [start]="'chevron_right'" [end]="'arrow_forward'"></app-materialicon360>
            </button>
          </div>
        </div>
      </div>
      <div style="display:flex;justify-content:center;top: calc(100vh - 20px);transform: translateY(-100%);position: sticky">
        <button mat-fab color="accent" (mouseover)="top.enableAnimation()" (mouseleave)="top.disableAnimation()" (click)="ScrollTop()">
          <app-materialicon360 #top [start]="'expand_less'" [end]="'arrow_upward'"></app-materialicon360>
        </button>
      </div>
    </div>
  </div>
</div>




