@use "@material/image-list";
@use "@material/image-list/mdc-image-list";
@use "@material/fab";

@include fab.core-styles;

.my-masonry-image-list {
  @include image-list.masonry-columns(5);
}

.root_content {
  display: flex;
  justify-content: center;
  margin: 0 auto;

}

.root_cat {
  @media screen and (max-width: 850px) {
    display: none;
  }
}

.root_main_title {
  text-align: center;
  width: 100%;
  padding: 2rem;
  font-size: 3rem;
}

.root_title {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 200% 200%;
  -webkit-animation: gradient 15s ease infinite;
  -moz-animation: gradient 15s ease infinite;
  animation: gradient 15s ease infinite;
}

@-moz-keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
